.navbar{
    background-color: black;
}
.navbar .navbar-brand{
    color: white;
}
.navbar .nav-link{
    color: white;
    font-weight: bold;
    margin-right: 50px;
    transition: all 0.5s;
}
.navbar .nav-link.active{
    color: white;
}
.navbar .nav-link:hover{
    color: white;
    background-color: #272729;
    border-radius: 30px;
}